apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "100"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{"deployment.kubernetes.io/revision":"95"},"creationTimestamp":"2025-08-19T20:01:03Z","generation":479,"name":"n8n-worker","namespace":"n8n","resourceVersion":"1762278197570383005","uid":"25027f3e-a934-47af-ad22-7b21c48b6138"},"spec":{"progressDeadlineSeconds":600,"replicas":3,"revisionHistoryLimit":10,"selector":{"matchLabels":{"app":"n8n-worker"}},"strategy":{"rollingUpdate":{"maxSurge":"25%","maxUnavailable":"25%"},"type":"RollingUpdate"},"template":{"metadata":{"annotations":{"kubectl.kubernetes.io/restartedAt":"2025-11-04T14:43:11-03:00"},"creationTimestamp":null,"labels":{"app":"n8n-worker"}},"spec":{"containers":[{"args":["worker"],"command":["n8n"],"env":[{"name":"N8N_METRICS","value":"true"},{"name":"N8N_METRICS_PREFIX","value":"n8n_"},{"name":"N8N_METRICS_ENDPOINT","value":"/metrics"},{"name":"N8N_METRICS_INCLUDE_DEFAULT_METRICS","value":"true"},{"name":"N8N_METRICS_INCLUDE_QUEUE_METRICS","value":"true"},{"name":"N8N_METRICS_INCLUDE_WORKFLOW_ID_LABEL","value":"true"},{"name":"N8N_METRICS_INCLUDE_WORKFLOW_NAME_LABEL","value":"true"},{"name":"N8N_METRICS_INCLUDE_NODE_TYPE_LABEL","value":"false"},{"name":"N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS","value":"true"},{"name":"N8N_RUNNERS_ENABLED","value":"true"},{"name":"OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS","value":"true"},{"name":"REDIS_PASSWORD","valueFrom":{"secretKeyRef":{"key":"REDIS_PASSWORD","name":"redis-auth"}}},{"name":"NODE_OPTIONS","value":"--max-old-space-size=3072 --expose-gc"},{"name":"NODE_ENV","value":"production"},{"name":"V8_FORCE_GC","value":"1"},{"name":"N8N_EXECUTION_TIMEOUT","value":"7200"},{"name":"N8N_EXECUTE_IN_PROCESS","value":"false"},{"name":"EXECUTIONS_DATA_PRUNE","value":"true"},{"name":"EXECUTIONS_DATA_MAX_AGE","value":"1"},{"name":"EXECUTIONS_MODE","value":"queue"},{"name":"QUEUE_BULL_REDIS_HOST","value":"redis-master.n8n.svc.cluster.local"},{"name":"QUEUE_BULL_REDIS_PORT","value":"6379"},{"name":"QUEUE_BULL_REDIS_DB","value":"0"},{"name":"QUEUE_BULL_REDIS_PASSWORD","valueFrom":{"secretKeyRef":{"key":"REDIS_PASSWORD","name":"redis-auth"}}},{"name":"N8N_REDIS_HOST","value":"redis-master.n8n.svc.cluster.local"},{"name":"N8N_REDIS_PORT","value":"6379"},{"name":"N8N_REDIS_PASSWORD","valueFrom":{"secretKeyRef":{"key":"REDIS_PASSWORD","name":"redis-auth"}}},{"name":"N8N_ENCRYPTION_KEY","valueFrom":{"secretKeyRef":{"key":"N8N_ENCRYPTION_KEY","name":"n8n-encryption"}}},{"name":"DB_TYPE","value":"postgresdb"},{"name":"DB_POSTGRESDB_HOST","value":"172.23.64.3"},{"name":"DB_POSTGRESDB_PORT","value":"5432"},{"name":"DB_POSTGRESDB_DATABASE","value":"n8n-postgres-db"},{"name":"DB_POSTGRESDB_USER","valueFrom":{"secretKeyRef":{"key":"POSTGRES_NON_ROOT_USER","name":"postgres-secret"}}},{"name":"DB_POSTGRESDB_PASSWORD","valueFrom":{"secretKeyRef":{"key":"POSTGRES_NON_ROOT_PASSWORD","name":"postgres-secret"}}},{"name":"DB_POSTGRESDB_POOL_SIZE","value":"3"},{"name":"DB_POSTGRESDB_CONNECTION_TIMEOUT","value":"30000"},{"name":"DB_POSTGRESDB_IDLE_CONNECTION_TIMEOUT","value":"300000"},{"name":"N8N_CONCURRENCY","value":"3"},{"name":"N8N_PROTOCOL","value":"https"},{"name":"N8N_HOST","value":"n8n-logcomex.34-8-101-220.nip.io"},{"name":"N8N_WEBHOOK_URL","value":"https://n8n-logcomex.34-8-101-220.nip.io"},{"name":"N8N_EDITOR_BASE_URL","value":"https://n8n-logcomex.34-8-101-220.nip.io"},{"name":"WEBHOOK_URL","value":"https://n8n-logcomex.34-8-101-220.nip.io"},{"name":"N8N_PUSH_BACKEND","value":"websocket"},{"name":"N8N_LISTEN_ADDRESS","value":"0.0.0.0"},{"name":"N8N_PUSH_BACKEND_WEBSOCKET_HEARTBEAT_INTERVAL","value":"30000"},{"name":"N8N_CUSTOM_EXTENSIONS","value":"/home/node/.n8n/custom"}],"image":"docker.n8n.io/n8nio/n8n:1.116.2","imagePullPolicy":"IfNotPresent","name":"worker","ports":[{"containerPort":5678,"protocol":"TCP"}],"resources":{"limits":{"cpu":"300m","memory":"1600Mi"},"requests":{"cpu":"150m","memory":"1200Mi"}},"securityContext":{"allowPrivilegeEscalation":false,"capabilities":{"drop":["ALL"]},"runAsGroup":1000,"runAsNonRoot":true,"runAsUser":1000,"seccompProfile":{"type":"RuntimeDefault"}},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","volumeMounts":[{"mountPath":"/home/node/.n8n","name":"n8n-claim0"}]}],"dnsPolicy":"ClusterFirst","nodeSelector":{"cloud.google.com/gke-nodepool":"pool-cpu4"},"restartPolicy":"Always","schedulerName":"default-scheduler","securityContext":{"fsGroup":1000,"runAsGroup":1000,"runAsNonRoot":true,"runAsUser":1000,"seccompProfile":{"type":"RuntimeDefault"}},"terminationGracePeriodSeconds":30,"volumes":[{"name":"n8n-claim0","persistentVolumeClaim":{"claimName":"n8n-claim0"}},{"name":"n8n-secret","secret":{"defaultMode":420,"secretName":"n8n-secret"}},{"name":"postgres-secret","secret":{"defaultMode":420,"secretName":"postgres-secret"}}]}}},"status":{"availableReplicas":3,"conditions":[{"lastTransitionTime":"2025-11-04T16:41:38Z","lastUpdateTime":"2025-11-04T16:41:38Z","message":"Deployment has minimum availability.","reason":"MinimumReplicasAvailable","status":"True","type":"Available"},{"lastTransitionTime":"2025-09-25T16:15:03Z","lastUpdateTime":"2025-11-04T17:43:17Z","message":"ReplicaSet \"n8n-worker-5d55cc455d\" has successfully progressed.","reason":"NewReplicaSetAvailable","status":"True","type":"Progressing"}],"observedGeneration":479,"readyReplicas":3,"replicas":3,"updatedReplicas":3}}
  creationTimestamp: "2025-08-19T20:01:03Z"
  generation: 484
  name: n8n-worker
  namespace: n8n
  resourceVersion: "1764353077442639005"
  uid: 25027f3e-a934-47af-ad22-7b21c48b6138
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: n8n-worker
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-11-28T15:04:27-03:00"
      creationTimestamp: null
      labels:
        app: n8n-worker
    spec:
      containers:
      - args:
        - worker
        command:
        - n8n
        env:
        - name: N8N_METRICS
          value: "true"
        - name: N8N_METRICS_PREFIX
          value: n8n_
        - name: N8N_METRICS_ENDPOINT
          value: /metrics
        - name: N8N_METRICS_INCLUDE_DEFAULT_METRICS
          value: "true"
        - name: N8N_METRICS_INCLUDE_QUEUE_METRICS
          value: "true"
        - name: N8N_METRICS_INCLUDE_WORKFLOW_ID_LABEL
          value: "true"
        - name: N8N_METRICS_INCLUDE_WORKFLOW_NAME_LABEL
          value: "true"
        - name: N8N_METRICS_INCLUDE_NODE_TYPE_LABEL
          value: "false"
        - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
          value: "true"
        - name: N8N_RUNNERS_ENABLED
          value: "true"
        - name: OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS
          value: "true"
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              key: REDIS_PASSWORD
              name: redis-auth
        - name: NODE_OPTIONS
          value: --max-old-space-size=3072 --expose-gc
        - name: NODE_ENV
          value: production
        - name: V8_FORCE_GC
          value: "1"
        - name: N8N_EXECUTION_TIMEOUT
          value: "7200"
        - name: N8N_EXECUTE_IN_PROCESS
          value: "false"
        - name: EXECUTIONS_DATA_PRUNE
          value: "true"
        - name: EXECUTIONS_DATA_MAX_AGE
          value: "1"
        - name: EXECUTIONS_MODE
          value: queue
        - name: QUEUE_BULL_REDIS_HOST
          value: redis-master.n8n.svc.cluster.local
        - name: QUEUE_BULL_REDIS_PORT
          value: "6379"
        - name: QUEUE_BULL_REDIS_DB
          value: "0"
        - name: QUEUE_BULL_REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              key: REDIS_PASSWORD
              name: redis-auth
        - name: N8N_REDIS_HOST
          value: redis-master.n8n.svc.cluster.local
        - name: N8N_REDIS_PORT
          value: "6379"
        - name: N8N_REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              key: REDIS_PASSWORD
              name: redis-auth
        - name: N8N_ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              key: N8N_ENCRYPTION_KEY
              name: n8n-encryption
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: 172.23.64.3
        - name: DB_POSTGRESDB_PORT
          value: "5432"
        - name: DB_POSTGRESDB_DATABASE
          value: n8n-postgres-db
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secret
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secret
        - name: DB_POSTGRESDB_POOL_SIZE
          value: "3"
        - name: DB_POSTGRESDB_CONNECTION_TIMEOUT
          value: "30000"
        - name: DB_POSTGRESDB_IDLE_CONNECTION_TIMEOUT
          value: "300000"
        - name: N8N_CONCURRENCY
          value: "3"
        - name: N8N_PROTOCOL
          value: https
        - name: N8N_HOST
          value: n8n-logcomex.34-8-101-220.nip.io
        - name: N8N_WEBHOOK_URL
          value: https://n8n-logcomex.34-8-101-220.nip.io
        - name: N8N_EDITOR_BASE_URL
          value: https://n8n-logcomex.34-8-101-220.nip.io
        - name: WEBHOOK_URL
          value: https://n8n-logcomex.34-8-101-220.nip.io
        - name: N8N_PUSH_BACKEND
          value: websocket
        - name: N8N_LISTEN_ADDRESS
          value: 0.0.0.0
        - name: N8N_PUSH_BACKEND_WEBSOCKET_HEARTBEAT_INTERVAL
          value: "30000"
        - name: N8N_CUSTOM_EXTENSIONS
          value: /home/node/.n8n/custom
        image: docker.n8n.io/n8nio/n8n:1.120.0
        imagePullPolicy: IfNotPresent
        name: worker
        ports:
        - containerPort: 5678
          protocol: TCP
        resources:
          limits:
            cpu: 300m
            memory: 1600Mi
          requests:
            cpu: 150m
            memory: 1200Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsGroup: 1000
          runAsNonRoot: true
          runAsUser: 1000
          seccompProfile:
            type: RuntimeDefault
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: n8n-claim0
      dnsPolicy: ClusterFirst
      nodeSelector:
        cloud.google.com/gke-nodepool: pool-cpu4
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      terminationGracePeriodSeconds: 30
      volumes:
      - name: n8n-claim0
        persistentVolumeClaim:
          claimName: n8n-claim0
      - name: n8n-secret
        secret:
          defaultMode: 420
          secretName: n8n-secret
      - name: postgres-secret
        secret:
          defaultMode: 420
          secretName: postgres-secret
status:
  availableReplicas: 3
  conditions:
  - lastTransitionTime: "2025-11-25T20:39:14Z"
    lastUpdateTime: "2025-11-25T20:39:14Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-09-25T16:15:03Z"
    lastUpdateTime: "2025-11-28T18:04:37Z"
    message: ReplicaSet "n8n-worker-987cc99ff" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 484
  readyReplicas: 3
  replicas: 3
  updatedReplicas: 3
