apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring-new
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
    - job_name: 'prometheus'
      static_configs:
      - targets: ['localhost:9090']

    - job_name: 'n8n'
      static_configs:
      - targets: ['n8n-logcomex.34-8-101-220.nip.io']
      metrics_path: '/metrics'
      scrape_interval: 15s
      scheme: https
      scrape_timeout: 10s
      tls_config:
        insecure_skip_verify: true
      relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'n8n-main'

    - job_name: 'pushgateway'
      static_configs:
      - targets: ['pushgateway-service.monitoring-new.svc.cluster.local:9091']
      scrape_interval: 15s
      honor_labels: true
      metrics_path: /metrics

    - job_name: 'kubernetes-cadvisor'
      kubernetes_sd_configs:
      - role: node
      scheme: https
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        insecure_skip_verify: true
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_node_label_(.+)
      - target_label: __address__
        replacement: kubernetes.default.svc:443
      - source_labels: [__meta_kubernetes_node_name]
        regex: (.+)
        target_label: __metrics_path__
        replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor